.root {
  display: block;
  overflow: scroll;
}

.segment {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 8px;
  padding: 8px;
}

.checkpoint {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
  padding: 8px;
  border-radius: 4px;
}

.cell {
  width: 100px;
}
