.root {
  display: grid;
  gap: 24px;
  padding: 32px 0px;
}

.list {
  display: grid;
  gap: 0px;
}

.item {
  &:last-child {
    .link {
      border-bottom: 1px solid base.$color-black;
    }
  }

  &.gold {
    background: base.$color-gold;
  }

  &.blue {
    background: base.$color-blue;
  }

  &.green {
    background: base.$color-green;
  }

  &.red {
    background: base.$color-red;
  }

  &.purple {
    background: base.$color-purple;
  }

  &.orange {
    background: base.$color-orange;
  }
}

.link {
  text-decoration: none;
  display: block;
  padding: 24px;
  border-top: 1px solid base.$color-black;
  border-left: none;
  border-right: none;

  p {
    color: base.$color-white;
  }

  @include base.hoverFocus {
    background: base.$color-blue;
    p {
      color: base.$color-white;
    }
  }
}
