.root {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: grid;
  border-top: 2px solid black;
  background-color: base.$color-white;

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    a {
      height: 64px;
      width: 100%;
      border: 1px solid black;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      @include base.hoverFocus {
        background-color: base.$color-secondary;
      }
    }
  }
}

.icon {
  height: 32px;
  width: 32px;
}
